services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - '${PORT_SERVER:-3000}:${PORT_SERVER:-3000}'
    env_file:
      - .env
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'wget --no-verbose --tries=1 --spider http://localhost:${PORT_SERVER:-3000} || exit 1',
        ]
      interval: 5s
      timeout: 2s
      retries: 100
      start_period: 60s
    image: mrscraper-docs
    container_name: mrscraper-docs